<footer>
    <section class="info flex-space-between">
      <article class="arcade-icon">
        <div class="arcade_txt">
          <img
            class="nav_img"
            src="../../../assets/images/navigator_img/arcade.png"
            alt=""
          />
          <h2>ARCADE</h2>
        </div>
      </article>
      <article class="selector">
        <h4>Products</h4>
        <a href="">Games</a>
        <a href="">Consoles</a>
        <a href="">Controllers</a>
        <a href="">Accessories</a>
      </article>
      <article class="store-inf">
        <h4>Store</h4>
        <span>500 Terry Francine Street San Francisco, CA 94158</span>
        <span>Mon - Fri: 9am - 9pm</span>
        <span><a href="mailto:info@mysite.com">host&#64;gmil.com</a></span>
        <span>123-456-7890</span>
      </article>
      <article class="policy">
        <h4>Policy</h4>
        <a href="">Terms & Conditions</a>
        <a href="">Shipping Policy</a>
        <a href="">Refund Policy</a>
        <a href="">Privacy Policy</a>
        <a href="">Cookie Policy</a>
        <a href="">FAQ</a>
      </article>
    </section>
    <hr />
    <section class="payment-community flex-space-between">
      <aside class="left">
        <article>
          <h4>Payment Methods</h4>
        </article>
        <article class="payment flex-space-between">
          <div><img src="../../../assets/images/payments/Visa.png" alt="" /></div>
          <div>
            <img src="../../../assets/images/payments/Master Card.webp" alt="" />
          </div>
          <div>
            <img
              src="../../../assets/images/payments/American Express.webp"
              alt=""
            />
          </div>
          <div><img src="../../../assets/images/payments/JCB.webp" alt="" /></div>
          <div>
            <img src="../../../assets/images/payments/Discover.webp" alt="" />
          </div>
          <div>
            <img
              src="../../../assets/images/payments/China Union Pay.webp"
              alt=""
            />
          </div>
          <div>
            <img src="../../../assets/images/payments/Diners.png" alt="" />
          </div>
          <div>
            <img src="../../../assets/images/payments/PayPal.png" alt="" />
          </div>
        </article>
      </aside>
      <aside class="right">
        <article>
          <h4>Join the Community</h4>
        </article>
        <article class="socials">
          <a target="_blank" href="https://www.facebook.com/"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a target="_blank" href="https://www.instagram.com/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a target="_blank" href="https://www.youtube.com/"
            ><i class="fa-brands fa-youtube"></i
          ></a>
          <a target="_blank" href="https://www.tiktok.com/"
            ><i class="fa-brands fa-tiktok"></i
          ></a>
        </article>
      </aside>
    </section>
  </footer>