<main class="newsletermain">
    <section class="newsleter">
        <article>
            <h1>NEWSLETTER</h1>
            <p>Sign up to receive updates on new</p>
            <p>products and special offers</p>
        </article>
        <article>
            <form action="https://api.everrest.educata.dev/echo/html" method="post">
                <label for="email">Email</label>
                <input class="email" name="email" id="input_comp-kvqdnajq1" type="email" required=""
                    aria-required="true" pattern="^.+@.+\.[a-zA-Z]{2,63}$" maxlength="250" autocomplete="off"
                    value="qwdqwd" aria-invalid="true">
                <input class="submit" type="submit" />
            </form>
        </article>
    </section>
</main>

<main class="disks">
    <section>
        <article>
            <img src="../../../assets/images/main_img/gamedisks.webp" alt="disks_img">
        </article>
    </section>
</main>