<section class="sales">
  <div class="sale-but">
    <span class="head">THIS WEEK'S DEALS</span>
    <h1 class="percent">10%</h1>
    <p>off all games</p>
    <button routerLink="/products">Buy Now</button>
  </div>
    <article class="kira">
      <img src="../../../assets/images/sales_img/Kira.webp" alt="" />
    </article>
    <article class="dead">
      <img src="../../../assets/images/sales_img/Dead at Last.webp" alt="" />
    </article>
    <article class="lit">
      <img src="../../../assets/images/sales_img/Chronosplit.webp" alt="" />
    </article>
</section>