<main>
  <section class="banners">
    <div class="txt-buy">
      <h3>Power up your game</h3>
      <h1>CYBER KID <br />INFINITE</h1>
      <h3>Now Available on PC & Console</h3>
      <div class="bt-buy">
        <a routerLink="/products"> <button>Buy Now</button></a>
      </div>
    </div>
    <article class="cyber_kid-article">
      <img
        class="cyber_kid"
        src="../../../assets/images/main_img/cyber_kid_sec-right.webp"
        alt="img"
      />
    </article>
  </section>
</main>
<app-sales></app-sales>
<app-spendsave></app-spendsave>
<app-newsleter></app-newsleter>
<app-footer></app-footer>
